@{
    ViewData["Title"] = "Confirmação excluir o cliente";
}

<div class="text-center">
    <h3>Realmente dejeja apagar o cliente (teste)?</h3>
</div>

<a class="btn btn-primary btn-block" role="button">Concelar exclusão</a>
<a class="btn btn-danger btn-block" role="button">Confirmar exclusão</a>